!!!
%html{:lang => "en"}
%head
%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
%title Connect with SoundCloud
%body{:onload => "window.opener.SC.Connect.popupCallback(window)"}
%b{:style => "width: 100%; text-align: center;"} This popup should automatically close in a few seconds