.info
  .details
    %b Choose a bucket to store the file into.
    %ul
      - if not @buckets.nil?
        - @buckets.each do |bucket|
          %li
            = link_to bucket.name,you_bucket_store_path(:bucket_name=> bucket.name,:track_uri=>@track_uri)
    = link_to "Create new bucket and store.",you_bucket_form_path