!!!
%html
  %head
    %title Fetch and Store
    /= javascript_include_tag 'jquery-1.5.min', 'connect', 'application'
    /= csrf_meta_tag
    /%link{:rel => :stylesheet, :type => :"text/css", :href => "http://soundcloudfront.com/stylesheets/style.css"}
  %body
    .wrapper.container
      %h1.header Fetch and Store
      = yield


